<div style="width:300px">
Question:
<br />
Calculate the force needed to speed up a car with a rate of 5ms-2(x), if the mass of the car is 1000 kg(y).
<br /><br />
<br /><br />
Formula:
<br />
Step 1
<br />
F = <select><option>x</option><option>y</option></select>(m) * <select><option>x</option><option>y</option></select>(a)
<br /><br />
<br />
Step 2
<br />
P = 2 * <select><option>x</option><option>y</option><option>f</option></select>(F)
<br /><br />
Answer:
<br />
power = <select><option>x</option><option>y</option><option>f</option><option>p</option></select>
<br /><br />
<button>submit</button><br />
value: 1000<br />
result: Correct<br />
</div>